<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="../css/landingpage.css">
        <title>Afedne - أفدني</title>
    </head>
<body>
    
    <nav class="navbar navbar-expand-lg flex-row-reverse">
       
        <a class="navbar-brand" href="/" style="color:#1E1E1E!important">أَفِدْنِي</a>
    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse justify-content-end w-100" style="margin-right:150px;" id="navbarSupportedContent">
            
            
             
            
            
            <ul class="navbar-nav ">
              
              <% if(userName == '') { %> 
              <li class="nav-item">
                <a class="nav-link" href="/signin">الدخول</a>
              </li>
    
              <% } else { %>
                
                <li class="nav-item">
                  <a class="nav-link"> <%= userName %></a>
                </li>
    
                <li class="nav-item">
                  <a class="nav-link" href="/signout"> الخروج</a>
                </li>
                <% } %>
    
              <li class="nav-item">
                <a class="nav-link" href="/about">عنا</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/roadmaps">خطط المجالات</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="/fields">المجالات</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="/">الرئيسية</a>
              </li>
    
            </ul>
    
          </div>
    
          
         
          
        </nav>



<!--  ABOUT US PAGE  -->


<img src="../images/Afedne.png" class="loogo">

<div class="container" style ='margin-top: 175px;'>

  <div class="row">
    <div class="col-6 text-center">
      <img src="../images/vector4.png" class ='vector4'>
    </div>
    <div class="col-6 text-right align-self-center">
     
      <h1 class ='aboutus'>عنا</h1><br>
      <p class="we">نحن في أفدني نساعدك في استكشاف نفسك في <br>عالم لغات البرمجة من خلال تبسيط و شرح مفاهيم<br> البرمجة و شرح مجالات اغلب اللغات البرمجية و<br> متطلباتها و ميزاتها , مما سيساعدك في اختيار اللغة <br>المناسبه لك لتعلمها  </p><br>
      <p class ='easy'>سوف نساعدك في ايجاد الدروس التعليميه المتميزة لكل لغة برمجة<br>  و سوف نقدم لك اختبارات ستساعدك على تحديد اللغة البرمجية المناسبه لك </p>
      
    </div>
  </div>

</div>
<p class ='wetext'>نحن</p>

<div class="container-fluid">

  <div class="row">
      <div class="col text-center">
        <img src="../images/FAHAD.png" class="fahad">

      </div>
  </div>

  <div class="row">
      <div class="col-2">
        <img src="../images/nawaf.png" class="nawaf">
      </div>

      <div class="col-8 faatext" >
        
        <img src="../images/farec.png" class="farec">
        <div class=" d-flex flex-column align-self-center align-items-center">
          <div class="d-flex flex-row-reverse align-self-center align-items-center"> 
            
            <img src="../images/person-icon.png" style="margin-right:60px;" alt="person" width="40px" height="40px">
            <p style="margin:10px; font-size: 28px; font-weight: bold; ">فهد بن عبدالله العريك</p>
          </div>
        
          
          <div class="d-flex flex-row-reverse align-self-center align-items-center"> 
            <img src="../images/person-icon.png" style="margin-right:70px;" alt="person" width="40px" height="40px">
            <p style="margin:10px; font-size: 28px; font-weight: bold;">طالب هندسة برمجيات</p>
          </div>
          
          <div class="d-flex flex-row-reverse align-self-center align-items-center"> 
            <img src="../images/mail.png" style="margin-right:80px;" alt="mail" width="40px" height="40px">
            <p style="margin:10px; font-size: 28px; font-weight: bold;">falaraik@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="col-2">
        <img src="../images/hatem.png" class="hatem">
      </div>
  </div>

  <div class="row">
      <div class="col-6 naatext">
        <img src="../images/farec.png" class="narec">
        <div class=" d-flex flex-column align-self-center align-items-center">
          <div class="d-flex flex-row-reverse align-self-center align-items-center"> 
            
            <img src="../images/person-icon.png" style="margin-right:0px;" alt="person" width="40px" height="40px">
            <p style="margin:10px;  margin-left: 100px; font-size: 28px; font-weight: bold; ">نواف السبيعي</p>
          </div>
        
          
          <div class="d-flex flex-row-reverse align-self-center align-items-center"> 
            <img src="../images/person-icon.png" style="margin-right:10px;" alt="person" width="40px" height="40px">
            <p style="margin:10px; font-size: 28px; font-weight: bold;">طالب هندسة برمجيات</p>
          </div>
          
          <div class="d-flex flex-row-reverse align-self-center align-items-center"> 
            <img src="../images/mail.png" style="margin-right:50px;" alt="mail" width="40px" height="40px">
            <p style="margin:10px; font-size: 28px; font-weight: bold;">NawafSuu@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-6 haatext">
        <img src="../images/farec.png" class="harec">
        <div class=" d-flex flex-column align-self-center align-items-center">
          <div class="d-flex flex-row-reverse align-self-center align-items-center"> 
            
            <img src="../images/person-icon.png"  alt="person" width="40px" height="40px">
            <p style="margin:10px; margin-left: 140px; font-size: 28px; font-weight: bold; ">حاتم القرني</p>
          </div>
        
          
          <div class="d-flex flex-row-reverse align-self-center align-items-center"> 
            <img src="../images/person-icon.png"  alt="person" width="40px" height="40px">
            <p style="margin:10px; font-size: 28px; font-weight: bold;">طالب هندسة برمجيات</p>
          </div>
          
          <div class="d-flex flex-row-reverse align-self-center align-items-center"> 
            <img src="../images/mail.png" style="margin-right:110px;" alt="mail" width="40px" height="40px">
            <p style="margin:10px; font-size: 28px; font-weight: bold;">hateemalqarni6@gmail.com</p>
          </div>
        </div>
      </div>
  </div>

    <h1 class="contact">تواصل معنا</h1>
    <h1 class="contact-name">الاسم</h1>
    <h1 class="contact-email">البريد الالكتروني</h1>
    <h1 class="contact-message">رسالتك الينا</h1>
    <form >
    
    <input type="text" id="contact-fname" class ='text-right' name="fname" required><br>
    
    <input type="email" id="contact-email1" name="email" ><br><br>
    
    <input type="textarea" id="contact-message1" class ='text-right' name="message" required ><br><br>
    <input id ='ajxRequest' type="submit" class ='contact-button' value="ارسل" required>
  </form>
  <img src="../images/mail11.png" class="mail">
  <img src="../images/halfrec.png" class="halfrec">


<!--  ABOUT US PAGE  -->


<br><br><br><br>

        <footer>
            <div class="col text-center aboutus-footer">
              <h2>أَفِدْنِي</h2>
              <p style="font-weight:bold;">&copy; ۲۰۲۲</p>
            </div>
        </footer>

        <br>


<script>


  $("#ajxRequest").click(() => {
    console.log("HHHH")
    var email = document.getElementById('contact-email1').value;
    var name = document.getElementById('contact-fname').value;
    var message = document.getElementById('contact-message1').value
    if(document.getElementById('contact-fname').value != '' && document.getElementById('contact-email1').value != '' && document.getElementById('contact-message1').value != '') {
    
      $.ajax({
        url: '/contact',
        method: 'post',
        data: {email:email,name:name,message:message},
        success: function(data) {
            console.log('user created , info :' + data);
        },
        error: function(data) {
            console.log('User creation failed :' + data);
        }
    });

    }

    else console.log("EMPTY")
  })



</script>



<br><br>

        



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>