<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../css/landingpage.css">
    <title>Afedne - أفدني</title>
</head>
<body>
    
  <% if(loggedOut) { %>
  <div class="alert alert-primary text-right" role="alert">
    <strong>تم تسجيل خروجك بنجاح!</strong>
</div>
<% }%>

  <nav class="navbar navbar-expand-lg flex-row-reverse">
       
    <a class="navbar-brand" href="/" style="color:#1E1E1E!important">أَفِدْنِي</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse justify-content-end w-100" style="margin-right:150px;" id="navbarSupportedContent">
        
        
         
        
        
        <ul class="navbar-nav ">
          
          <% if(userName == '') { %> 
          <li class="nav-item">
            <a class="nav-link" href="/signin">الدخول</a>
          </li>

          <% } else { %>
            
            <li class="nav-item">
              <a class="nav-link"> <%= userName %></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/signout"> الخروج</a>
            </li>
            <% } %>

          <li class="nav-item">
            <a class="nav-link" href="/about">عنا</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/roadmaps">خطط المجالات</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/fields">المجالات</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/">الرئيسية</a>
          </li>

        </ul>

      </div>

      
     
      
    </nav>


      <div class="container reverse" style ='margin-top: 175px;'>

        <div class="row reverse text-center ">
          <div class="col-6 text-center ">
            <img class="landing-img" src="../images/career.png" alt="career" >
          </div>
          <div class="col-6 text-right align-self-center">
           
            <h1 style="font-size:64px;">اكتشف نفسك</h1><br>
            <p style="font-size:26px;">اكتشف شغفك وتوجهك من<br> خلال  قراءة المجالات المختلفة <br>أو أتخذ اختبار التحديد</p><br>
            <a href='/exam' type ='button' class="exam-button">ابدأ الاختبار</a>
          </div>
        </div>

      </div>


      <div class="container" style ='margin-top: 355px;'>

        <h1 style="text-align: center;color:#1E1E1E;font-size:55px;">بعض المشاكل التي تواجه الطلاب و الطالبات في التخصصات التقنية</h1>

        <br><br><br><br>
        <div class="row text-center">

          <div class="col m-5 p-5" style="background-color:#99A799;color:white;border-radius: 75px;">
            
            <h1 class="content-header">كثرة المجالات</h1><br><br>
            <p class="content">
              كثرة المجالات في التخصصات التقنية يسبب حيرة لبعض الطلاب في اختيار المجال المناسب لهم, هدفنا أن نكون سبب في مساعدة الطلاب في اختيار المجال المناسب لهم 
            </p>

          </div>

          <div class="col m-5 p-5" style="background-color:#4A544A;color:white;border-radius: 75px;">

            <h1>كثرة خطط المجالات</h1><br><br>
            <p  class="content">
              كثرة خطط المجالات الغير واقعية سبب حيرة لبعض الطلاب وكره لمجال معين
            </p>

          </div>

          <div class="col m-5 p-5" style="background-color:#ADC2A9;color:white;border-radius: 75px;">

            <h1>عدم توفر المعلومة</h1><br><br>
            <p  class="content">
              عدم توفر مكان يجمع خبرات الطلاب المتخرجين عن مجال العمل 
            </p>

          </div>


        </div>




      </div>


      <div class="container-fluid text-center p-4 " style="margin-top:355px;background-color:#4A544A;width:90%;border-radius: 50px;">

        <br><br><br>
        <h1 style='color:white;font-size:55px;'>إكتشف شغفك بسهولة من خلال</h1>
        <br><br><br>
        <div class="row justify-content-center">

          <div class="col text-center p-5 m-5" style="background-color:#FEF5ED;border-radius: 50px;">
            <img src="../images/exam.png" alt="exam"><br><br>
            <h1>إتخاذ اختبار التحديد</h1><br><br>
            <p style="font-size:20px;">اختبار مكون من عشرة اسألة
              لكل سؤال وزن يحدد توجهك</p><br><br>
              <a href="/exam" class="exam-button">اختبار التحديد</a>

          </div>


          <div class="col text-center p-5 m-5" style="background-color:#FEF5ED;border-radius: 50px;">
            <img src="../images/reading-book.png" alt="exam"><br><br>
            <h1>قراءة نبذة عن مجالات مختلفة</h1><br><br>
            <p style="font-size:20px;">
              نوفر لك المعلومات الكافية عن مختلف المجالات مع خطط لكل مجال 
            </p><br>
              <a href="/fields" type ='button' class="exam-button" style="text-decoration:none;">المجالات المختلفة</a>

          </div>


          <div class="col text-center p-5 m-5" style="background-color:#FEF5ED;border-radius: 50px;">
            <img src="../images/experience.png" alt="exam"><br><br>
            <h1>خبرات طلاب سابقين</h1><br><br>
            <p style="font-size:20px;">
               خبرات طلاب متخرجين يعملون مختلف المجالات المتوفرة  
            </p><br><br>
              <button type ='button' class="exam-button">قريباً</button>

          </div>


        </div>


      </div>

      <br><br><br><br>

        <footer>
            <div class="col text-center">
              <h2>أَفِدْنِي</h2>
              <p style="font-weight:bold;">&copy; ۲۰۲۲</p>
            </div>
        </footer>

        <br>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>